In [36]:
import pandas as pd
import numpy as np
car_data =pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
car_data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [37]:
# pandas version
pd.__version__

'2.3.1'

In [38]:
# Question 2. Records count
len(car_data)

9704

In [39]:
# Question 3. Fuel types
types = len(set(car_data['fuel_type']))
print(types)

2

In [40]:
# Question 4. Missing values
missing_values = car_data.isnull().sum()
missing_values_count = len(missing_values[missing_values > 0])
print(missing_values_count)

4

In [41]:
# Question 5. Max fuel efficiency 
max_efficiency = car_data[car_data['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(max_efficiency)

23.759122836520497

In [42]:
# Question 6. Median value of horsepower
first_median = car_data['horsepower'].median()
print(first_median)

149.0

In [43]:
most_frequent = car_data['horsepower'].mode()
print(most_frequent[0])

152.0

In [44]:
car_data['horsepower'] = car_data['horsepower'].fillna(most_frequent[0])
print(car_data)

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                     170            3.0       159.0     3413.433759
1                     130            5.0        97.0     3149.664934
2                     170            NaN        78.0     3079.038997
3                     220            4.0       152.0     2542.392402
4                     210            1.0       140.0     3460.870990
...                   ...            ...         ...             ...
9699                  140            5.0       164.0     2981.107371
9700                  180            NaN       154.0     2439.525729
9701                  220            2.0       138.0     2583.471318
9702                  230            4.0       177.0     2905.527390
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year  origin fuel_type         drivetrain  \
0             17.7        2003  Europe  Gasoline    All-wheel drive
1             17.8        2007     USA  Gasoline  Front-wheel drive
2             15.1        2018  Europe  Gasoline  Front-wheel drive
3             20.2        2009     USA    Diesel    All-wheel drive
4             14.4        2009  Europe  Gasoline    All-wheel drive
...            ...         ...     ...       ...                ...
9699          17.3        2013  Europe    Diesel  Front-wheel drive
9700          15.0        2004     USA  Gasoline    All-wheel drive
9701          15.1        2008     USA    Diesel    All-wheel drive
9702          19.4        2011     USA    Diesel  Front-wheel drive
9703          14.7        2005    Asia    Diesel    All-wheel drive

      num_doors  fuel_efficiency_mpg
0           0.0            13.231729
1           0.0            13.688217
2           0.0            14.246341
3           2.0            16.912736
4           2.0            12.488369
...         ...                  ...
9699        NaN            15.101802
9700        0.0            17.962326
9701       -1.0            17.186587
9702        1.0            15.331551
9703       -1.0            14.884467

[9704 rows x 11 columns]

In [45]:
updated_median = car_data['horsepower'].median()
print(updated_median)

152.0

In [46]:
# Q7. Sum of weights
subset = car_data[car_data['origin'] == 'Asia'][['vehicle_weight', 'model_year']]
print(subset)

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [47]:
first_7 = subset.head(7)
print(first_7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [48]:
X = first_7.to_numpy()
XTX = X.T @ X
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [49]:
inverted = np.linalg.inv(XTX)
print(inverted)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [50]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [51]:
Next = inverted @ X.T
w = Next @ y
print(np.sum(w)